<h1> User Dashboard </h1>

<h2> Your Playlists </h2>
{% for playlist in playlists %}
    <a href="/playlist/{{ playlist.id }}"> {{ playlist.name }} </a>
{% endfor %}  <br>

<table>
    <tr>
        <th> Song </th>
        <th> Artist </th>
        <th> Album </th>
        <th> Genre </th>
        <th> Year </th>
    </tr>
{% for song in songs %}
    <tr>
        <td> {{ song.title }} </td>
        <td> {{ song.artist }} </td>
        <td> {{ song.album }} </td>
        <td> {{ song.genre }} </td>
        <td> {{ song.year }} </td>
    </tr>
{% endfor %}
</table>